{require_otp_vsn, "17"}.


{erl_opts,
    [{src_dirs, ["src"]},
     debug_info,
     warnings_as_errors]}.

{eunit_opts, [verbose]}.

{port_specs, [{"priv/leveldb_nif.so", ["c_src/leveldb_lib.cpp","c_src/leveldb_nif.cpp"]},
	      {"priv/leveldb_utils.so", ["c_src/leveldb_utils.cpp"]}]}.

{port_env, [
    {"CFLAGS", "$CFLAGS -Wall -g -O3 -fPIC"},
    {"CXXFLAGS", "$CXXFLAGS -Wall -g -O3 -fPIC"},
    {"DRV_CFLAGS", "$DRV_CFLAGS -O3 -Wall -I deps/leveldb/include"},
    {"DRV_LDFLAGS", "$DRV_LDFLAGS -Ldeps/leveldb -lleveldb -lpthread -lstdc++"}
    ]}.

{pre_hooks, [{compile, "./build.sh"}]}.

